body{
    background-color: #fff;

}
.removeItem {
    cursor: pointer;
}

.input-sm {
    height: 40px;
    font-size: 13px;
}

.fa-plus-circle {
    font-size: 19px;
}

a {text-decoration: none}

.form-group {
    margin-bottom: 10px;
}
.input-group-addon,
.form-control {
    border-radius: 0 !important;
}
.navbar-brand {

    height: 84px;
}

#inputError,
#sameNumber,
#emailInputError {
    font-size: 12px;
}

.navbar-default {
    background-color: #dddddd40;
    border-color: #e7e7e7;
}

.panel-body {
    padding: 15px;
    background-color: #dddddd40;
}

body{
    background-color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px 0;
    background-color: #f6f6f6;
    z-index: -11;
}

footer img {
    max-width: 100%;
}
.panel-footer {
    padding: 8px 15px;
}
.panel-footer > p {
    margin: 0;
}
ul.navbar-nav {
    margin-top: 16px;
}
.modal-body  ul li{
    font-size: 15px;
    padding-bottom: 5px;
}
